DATABASE_URL="mysql://root:password@localhost:3306/portfolio_db"

JWT_SECRET="change-this-to-a-long-random-secret-at-least-32-chars"

ADMIN_EMAIL="admin@yourdomain.com"
ADMIN_PASSWORD="your-secure-password"

GITHUB_USERNAME="Sleepy4k"
GITHUB_TOKEN="ghp_yourpersonalaccesstoken"

NODE_ENV="development"
